<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">JWLC E-learning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item {% if request.resolver_match.url_name == "about1" %}active{% endif %}">
        <a class="nav-link" href="{% url 'courses' %}">Mis Cursos</a>
      </li>
      {% else %}
      <li class="nav-item {% if request.resolver_match.url_name == "about1" %}active{% endif %}">
        <a class="nav-link" href="#">Cursos</a>
      </li>
      {% endif %}
      <li class="nav-item {% if request.resolver_match.url_name == "about" %}active{% endif %}">
        <a class="nav-link" href="{% url 'about' %}">Acerca</a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == "contact" %}active{% endif %}">
        <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">{{ user.get_username }}</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/accounts/logout"> Cerrar sesion</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="/accounts/register"> Registrar  </a></li>
        <li class="nav-item"><a class="nav-link" href="/accounts/login"> Login   </a></li>
      {% endif %}
    </ul>
  </div>
</nav>